
<div class="border-5 box">
    <h1>Forgot password</h1><br />
    <form asp-action="ForgotPassword">
        <div class="form-group col-10">
            <label>Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div><br />
        <div class="form-group col-10">
            <label>OTP</label>
            <input type="text" class="form-control" name="otp" placeholder="Enter Otp" disabled>
        </div><br />
        <div class="form-group col-10">
            <label>New password</label>
            <input type="text" class="form-control" name="newpassword" placeholder="Enter new password" disabled>
        </div><br />
        @if ("" + ViewData["err"] != "")
        {
            <p class="error-msg">@("" + ViewData["err"])</p>
        }
        <button type="submit" class="btn btn-primary">Get OTP</button><br /><br />
        <p>Register new? <a asp-action="SignUp">Sign up</a></p>
    </form>
</div>