html {
  font-size: 14px;
}

.box {
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    background-color: white;
    padding: 30px 50px 10px 50px;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    border-radius: 10px;
}

.error-msg {
    color: red;
}

.item:hover  {
    transform:scale(1.1);
    transition: transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../Images/backgroundimage.jpg');
}